@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Proxima Nova;
  src: url("../../public/Proxima\ Nova\ Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Proxima Nova;
  src: url("../../public/Proxima\ Nova\ Semibold.otf") format("opentype");
  font-weight: 700;
}

.testStyle::before {
  background-color: #fcfcfc;
  /* filter: url(#noiseFilter); */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.testStyle {
  position: relative;
}

.module-inside {
  position: relative;
}

@layer components {
  .indexPage {
    background: linear-gradient(to right, #ffff 1px, transparent 1px) 0 0,
      linear-gradient(to right, #151515 1px, transparent 1px) 0 100%,
      linear-gradient(to left, #151515 1px, transparent 1px) 100% 0,
      linear-gradient(to left, #151515 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, #151515 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, #151515 1px, transparent 1px) 100% 0,
      linear-gradient(to top, #151515 1px, transparent 1px) 0 100%,
      linear-gradient(to top, #151515 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
}

.spin {
  display: block;
  height: 100%;
  padding-left: 15px;
  animation: spin_words 6s infinite;
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* myComponent.css */

.myBubbleUI {
  width: 100%;
  max-width: 1000px;
  height: 300px;
  border-radius: 50px;
}

.child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

._1Lxpd {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
._2MD0k::-webkit-scrollbar {
  display: none;
}

._376IX {
  position: relative;
  height: 50%;
  width: 100%;
}

._3bAl3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50%;
  padding-right: 50%;
  box-sizing: content-box;
}

._1iLpS {
  display: flex;
  flex-direction: row;
}

._2gu6r {
  display: flex;
  justify-content: center;
  align-items: center;
}

._3cleF {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

._3cleF > * {
  width: 100% !important;
  height: 100%;
}

._2SNHQ {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

._2pju2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.12);
}

._2MD0k {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll !important;
  scroll-padding: 100px 0 0 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dot {
  border-bottom: dotted 2px;
  width: auto;
  float: left;
  color: gray;
  flex-grow: 1;
  position: relative;
  display: block;
  height: 12px;
  margin: 0 5px 0 5px;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeInRight-animation {
  animation: 0.4s fadeInRight;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeInLeft-animation {
  animation: 0.4s fadeInLeft;
}
